<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="styles.css" />

</head>
<body>
<div class="header">
    <div class="column2">
        <div class="myName">
            <p>Zanna Jelatanceva</p>
        </div>
        <div class="description">
            <p>My name is Zanna. I am from Riga, Latvia. I am working at Depo office. Also am studying at institute at fourth course of business and management</p>
        </div>
    </div>

    <div class="column2">
        <img width="150" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzToX3RSIQdIHHkl9lR1y3qEkZ0farUZmm8A&usqp=CAU">
    </div>
</div>

<div class="row">
    <div class="column1">
    <span>
        <img width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_6JOIep3YiTWHQ4LyD0OcQoR5XJV7u31tgg&usqp=CAU">
        <h3>Lesson1</h3>
        <div class="description">
            <span>Repeated all what have learned in Java course 1</span>
        </div>
    </span>
    </div>
</div>

<div class="row">
    <div class="column1">
    <span>
        <img width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_6JOIep3YiTWHQ4LyD0OcQoR5XJV7u31tgg&usqp=CAU">
        <h3>Lesson2</h3>
        <div class="description">Repeated all what have learned in Java course 1</div>
    </span>
    </div>
</div>
<div class="row">
    <div class="column1">
    <span>
        <img width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_6JOIep3YiTWHQ4LyD0OcQoR5XJV7u31tgg&usqp=CAU">
        <h3>Lesson3</h3>
        <div class="description">Repeated all what have learned in Java course 1</div>
    </span>
    </div>
</div>

<div class="row">
    <div class="column1">
    <span>
        <img width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_6JOIep3YiTWHQ4LyD0OcQoR5XJV7u31tgg&usqp=CAU">
        <h3>Lesson4</h3>
        <div class="description">Repeated all what have learned in Java course 1</div>
    </span>
    </div>
</div>


<div class="row">
    <div class="column1">
    <span>
        <img width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_6JOIep3YiTWHQ4LyD0OcQoR5XJV7u31tgg&usqp=CAU">
        <h3>Lesson5</h3>
        <div class="description">Repeated all what have learned in Java course 1</div>
    </span>
    </div>
</div>

<div class="row">
    <div class="column1">
    <span>
        <img width="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_6JOIep3YiTWHQ4LyD0OcQoR5XJV7u31tgg&usqp=CAU">
        <h3>Lesson6</h3>
        <div class="description">Repeated all what have learned in Java course 1</div>
    </span>
    </div>
</div>

</body>

<footer>
    <div class="row">
        <div class="column2">
        <span>
    <p>SheGoesTech Java 2</p>
        </span>
        </div>
    </div>

    <div class="row">
        <div class="column2">
        <span>
    <p><a href="https://github.com/ZannaJ">https://github.com/ZannaJ</a></p>
        </span>
        </div>
    </div>
</footer>

</html>